.taskWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-400);
  height: 4.5rem;
  border-radius: 10px
}

.taskWrapper > p{
    flex-grow: 1;
    margin-left: 5px;
}

.icon:hover{
    cursor: pointer;
}

input {
    background-color: aqua;
}