.newTaskForm {
    display:  flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
}

.newTaskForm > input{
    width:  41rem;
    height: 3.37rem;
    background-color: var(--gray-500);
    margin-right: 8px;
    border-radius: 8px;
}

.newTaskForm > button{
    width: 5rem;
    height: 3.25rem;
    border-radius: 8px;
    background-color: var(--blue-300);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

button > img{
    margin-left: 5px;
}
